* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: fit-content;
  height: 100vh;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionMain {
  padding: 0 10px 10px 10px;
}
