body {
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

#equipes {
  text-align: center;
}

.first {
  margin: 0 auto;
  background-color: rgb(235, 200, 84);
  width: 200px;
}

.second {
  background-color: rgb(219, 219, 219);
}

.third {
  background-color: rgb(170, 142, 106);
}

.first, .second, .third {
  font-size: 20px;
  text-align: center;
  height: 50px;
}

.second, .third {
  display: inline-block;
  width: 300px;
}



#premiacoes ul li {
  display: inline-block;
}