@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Raleway:wght@300&display=swap');

main {
  margin: 0 30px;
}

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

p::first-letter {
  padding-left: 10px;
}

article {
  padding-right: 10px;
}
/* HEADER */
.Header {
  margin: 0;
  padding: 5px 20px;
  background-color: #e4e4e4;
}

.Header h2 {
  margin: 5px 0;
  font-family: 'DynaPuff', cursive;
}

.Header nav ul {
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

.Header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

/* FIM HEADER */

/* ARTICLE E ASIDE */
.divideAside {
  max-width: 60%;
}

.main {
  display: inline-block;
}

.sectionAsideDireito {
  width: 40%;
  float: right;
}

.asideDireito {
  width: 100%;
}

.videoAside {
  width: 100%;
}


/* FIM ARTICLE E ASIDE */

/* TABELA */

.tabela {
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  border-collapse: collapse;
}

.tabela :is(td:nth-child(odd), th:nth-child(odd)) {
  background-color: rgb(173, 173, 173);
}

.tabela :is(td:nth-child(even), th:nth-child(even)) {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* FIM TABELA */

/* ALINHA COM IMG */

.alinhadoComImg :is(p, img) {
  display: inline-block;
}

.alinhadoComImg p {
  width: 70%;
}

.alinhadoComImg img {
  width: 29%;
  float: right;
}

#primeiraImg {
  width: 100%;
  height: 350px;
}

/* FIM ALINHA */

/* FOOTER */

.Footer {
  height: 3rem;
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
}

/* FIM FOOTER */